<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= select("booking", "user_id", User.all.collect {|p| [ p.email, p.id ] }, {include_blank: true}) %>
  </div>

  <div class="field">
    <%= f.label :vehicle_id %>
    <%= select("booking", "unit_id", Unit.all.collect {|p| [ p.serial, p.id ] }, {include_blank: true}) %>
  </div>

  <div class="field">
    <%= f.label :starting %>
    <%= date_field("booking", "starting") %>
  </div>

  <div class="field">
    <%= f.label :ending %>
    <%= date_field("booking", "ending") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
