<p id="notice"><%= notice %></p>

<h2>Bookings for <%= @user.email %></h2>
<%= render partial: "bookings/bookings_for", locals: {object: @user} %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
